/* Hide all subsections in the sidebar TOC */
.chapter li>ol {
    display: none !important;
}

/* Consistent list spacing - normalize loose and tight lists */
/* .content li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.content li>p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.content li>ul,
.content li>ol {
    margin-top: 0.25em;
} */